{% extends "Inmo_Coder_App/padre.html" %}

{% load static %}

{% block titulo_de_pagina %}
<h1 class="mb-5">BORRAR CLIENTE</h1>
{% endblock %}

{% block contenido_que_cambia %}

<form method="POST"> {% csrf_token %} 
    
    <br>
    <div class="abs-center">
    Proceder con el borrado del cliente?  
    </div>

    <br>
    <div class="abs-center">
        <table>
            <tbody>
                <tr>
                    <th class="clases_para_th_td">Nombre</th>
                    <th class="clases_para_th_td">Teléfono</th>
                    <th class="clases_para_th_td">E-mail</th>
                    <th class="clases_para_th_td">Descripción de operación</th>
                    <th class="clases_para_th_td">Ubicación</th>
                    <th class="clases_para_th_td">Fecha de operación</th>
                </tr> 
            
                <tr>
                    <td class="clases_para_th_td">{{ object.contacto_nombre }}</td>
                    <td class="clases_para_th_td">{{ object.contacto_telefono }}</td>
                    <td class="clases_para_th_td">{{ object.contacto_email }}</td>
                    <td class="clases_para_th_td">{{ object.motivo_descripcion }}</td>
                    <td class="clases_para_th_td">{{ object.motivo_ubicacion }}</td>
                    <td class="clases_para_th_td">{{ object.fecha_de_alta }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>

    <div class="abs-center">
        <input type="submit" value="Borrar">  
    </div>
    <br>

</form>

{% endblock %}

