{% extends "Inmo_Coder_App/padre.html" %}

{% load static %}

{% block usuariologged %} 
    {% if request.user.is_authenticated %}
    Hola {{ user.username }} !!  <img src='{{ imagen }}' alt ="avatar" width="35px" hight="35px">
    {% endif %}

{% endblock %}

{% block titulo_de_pagina %}

    <h1 class="mb-5">CARGAR<br>CLIENTES</h1>
    
{% endblock %}

{% block contenido_que_cambia %}

<br>

<div class="container">
    <div class="abs-center">
    
        <form action="{% url 'clientes_cargar' %}" method="POST" class="border p-3 form"> {% csrf_token %}

            <div class="abs-center">               
                <table>
                    {{ form_clientes.as_table }}
                </table>
            </div>

            <br>

            <div class="abs-center">
                <input  type="submit", value="Cargar cliente" class="btn btn-primary">
            </div>
                
        </form>
        
    </div>

    <br>

    <div class="abs-center">
        <h3> {{ mensaje }}</h3>
    </div>

</div>


{% endblock %}

