{% extends "Inmo_Coder_App/padre.html" %}

{% load static %}

{% block usuariologged %} 
    {% if request.user.is_authenticated %}
        Hola {{ user.username }} !!
    {% endif %}

{% endblock %}

{% block titulo_de_pagina %}

    <h1 class="mb-5">BUSCAR<br>CLIENTES</h1>
    
{% endblock %}

{% block contenido_que_cambia %}

<br>

<div class="container">
    <div class="abs-center">
  
        <form action="{% url 'clientes_buscar' %}" method="POST" class="border p-3 form"> {% csrf_token %}

            <div class="abs-center">
                <p>Nombre: <input type="text" name="contacto_nombre", id="contacto_nombre"></p>
            </div>
            
            <div class="abs-center">
                <input  type="submit", value="Buscar cliente" class="btn btn-primary">
            </div>
                
        </form>
        
    </div>

    <br>

    <div class="abs-center">

        {% if ocultar_contenido_inicial %}

        {% else %}

        {% if mensaje %}
            <h8>{{ mensaje }}</h8>
            
        {% else %}
            <table>
                <tbody>
                    <tr>
                        <th class="clases_para_th_td">{{ titulo.contacto_nombre }}</th>
                        <th class="clases_para_th_td">{{ titulo.contacto_telefono }}</th>
                        <th class="clases_para_th_td">{{ titulo.contacto_email }}</th>
                        <th class="clases_para_th_td">{{ titulo.motivo_descripcion }}</th>
                        <th class="clases_para_th_td">{{ titulo.motivo_ubicacion }}</th>
                        <th class="clases_para_th_td">{{ titulo.fecha_de_alta }}</th>
                    </tr> 
                
                    {% for cliente in clientes %}    
                    <tr>
                        <td class="clases_para_th_td">{{ cliente.contacto_nombre }}</td>
                        <td class="clases_para_th_td">{{ cliente.contacto_telefono }}</td>
                        <td class="clases_para_th_td">{{ cliente.contacto_email }}</td>
                        <td class="clases_para_th_td">{{ cliente.motivo_descripcion }}</td>
                        <td class="clases_para_th_td">{{ cliente.motivo_ubicacion }}</td>
                        <td class="clases_para_th_td">{{ cliente.fecha_de_alta }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            
        {% endif %}
        {% endif %}
        
    </div>

    <br>

</div>

{% endblock %}

