{% extends "Inmo_Coder_App/padre.html" %}

{% load static %}

{% block titulo_de_pagina %}
<h1 class="mb-5">EDICION DE COCHERA</h1>
{% endblock %}

{% block contenido_que_cambia %}

<br>
<div class="container">
    <div class="abs-center">    
        <form method="POST" class="border p-3 form"> {% csrf_token %}

            <div class="abs-center">               
                <table>
                    {{ form.as_table }}
                </table>
            </div>

            <br>

            <div class="abs-center">
                <input  type="submit", value="Guardar cochera" class="btn btn-primary">
            </div>
                
        </form>       
    </div>
</div>
<br>


{% endblock %}

