{% extends "Inmo_Coder_App/padre.html" %}

{% load static %}

{% block titulo_de_pagina %}

    <h1 class="mb-5">BUSCAR<br>COCHERAS</h1>
    
{% endblock %}

{% block contenido_que_cambia %}

<!-- <h1>{{ busqueda_nombre }}</h1> -->

<form action="{% url 'buscarcocheras' %}" method="GET"> {% csrf_token %}

    <p>Ubicacion:<input type="text" name="ubicacion", id="ubicacion"></p>
 
    <input type="submit", value="Buscar">
    
    </form>

<h8>{{ titulo }}</h8>
<br>

{% for cochera in ubicacion %}

<h12>{{ cochera.ubicacion }}, {{ cochera.precio }}, {{ cochera.contacto_nombre }}, {{ cochera.contacto_telefono }}, {{ cochera.contacto_email }}</h12>

--

{% endfor %}



{% endblock %}

