{% extends "Inmo_Coder_App/padre.html" %}

{% load static %}

{% block titulo_de_pagina %}

<h1 class="mb-5">Listado de Departamentos</h1>
    {% endblock %}


    {% block contenido_que_cambia %}
    
    <br>

    {% if object_list|length > 0 %}

    {% for departamento in object_list %}

    <li class="px-3 py-1 no_marks_li">
        <div class="div-main">
            <div class="div-main-left">
                Ubicación: {{ departamento.ubicacion }} | Precio: {{ departamento.precio }} | Nombre de contacto: {{ departamento.contacto_nombre }}
            </div>

            <div class="div-main-right">
                <div class="btn-group px-1" role="group" aria-label="Basic example" >
                    <a class="btn btn-primary btn-sm py-0" style="font-size: 0.8rem" href="{% url 'departamentos_detalle' departamento.id %}">VER DETALLES</a>
                    <a class="btn btn-primary btn-sm py-0" style="font-size: 0.8rem" href="{% url 'departamentos_borrar' departamento.id %}">ELIMINAR</a>
                    <a class="btn btn-primary btn-sm py-0" style="font-size: 0.8rem" href="{% url 'departamentos_editar' departamento.id %}">EDITAR</a>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
    
    {% else %}
    <h2>No hay departamentos en la base de datos.</h2>

    {% endif %}
<br>

    {% endblock %}
