{% extends "Inmo_Coder_App/padre.html" %}

{% load static %}

{% block titulo_de_pagina %}

<h1 class="mb-5">Listado de Clientes</h1>
    {% endblock %}


    {% block contenido_que_cambia %}
    
    <br>

    {% if object_list|length > 0 %}

    {% for cliente in object_list %}
    
        <li class="px-3 py-1 no_marks_li">
            <div class="div-main">
                <div class="div-main-left">
                    Nombre: {{ cliente.contacto_nombre }} | Telefono: {{ cliente.contacto_telefono}} | Email: {{ cliente.contacto_email }}
                </div>

                <div class="div-main-right">
                    <div class="btn-group px-1" role="group" aria-label="Basic example" >
                        <a class="btn btn-primary btn-sm py-0" style="font-size: 0.8rem" href="{% url 'clientes_detalle' cliente.id %}">VER DETALLES</a>
                        <a class="btn btn-primary btn-sm py-0" style="font-size: 0.8rem" href="{% url 'clientes_borrar' cliente.id %}">ELIMINAR</a>
                        <a class="btn btn-primary btn-sm py-0" style="font-size: 0.8rem" href="{% url 'clientes_editar' cliente.id %}">EDITAR</a>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
    
    {% else %}
    <h2>No hay clientes en la base de datos.</h2>

    {% endif %}

    <br>
    <div style="display: flex; justify-content: center">
        <a class="btn btn-warning" href="{% url 'clientes_cargar' %}" >Nuevo Cliente</a>
    </div>
    <br>

    {% endblock %}
