{% extends "Inmo_Coder_App/padre.html" %}

{% load static %}



{% block titulo_de_pagina %}

    <h1 class="mb-5">Login</h1>
 
{% endblock %}

{% block contenido_que_cambia %}

<br>
    {% if mensaje %}
   
    <div class="abs-center">
        <h3> {{ mensaje }}</h3>
    </div>
   
    {% else %}

    <div class="container">
        <div class="abs-center">
        
            <form action="" method="POST" class="border p-3 form"> {% csrf_token %}
    
                <div class="abs-center">               
                    <table>
                        {{ form.as_table }}
                    </table>
                </div>
    
                <br>
    
                <div class="abs-center">
                    <input  type="submit", value="Iniciar Sesión" class="btn btn-primary">
                </div>
                    
            </form>
            
        </div>
    
        <br>

    </div>

   {% endif %}
   
<br>
{% endblock %}

