{% extends "Inmo_Coder_App/padre.html" %}

{% load static %}

{% block titulo_de_pagina %}

    <h1 class="mb-5">Resultado Busqueda<br>Casas </h1>
    
    <h8>Ubicacion, Cantidad Ambientes, Precio, Nombre de Contacto, Telefono de Contacto, Email, Fecha de Alta</h2><br>
    
    {% for temp in ubicacion %}
        
    <h12>{{ temp.ubicacion }}, {{ temp.ambientes }}, ${{ temp.precio }} , {{ temp.contacto_nombre }}, {{ temp.telefono_contacto}}, {{ temp.contacto_email }} , {{ temp.fecha_de_alta }} </h3><br>
    
    
      
    {% endfor %}
    
{% endblock %}

{% block contenido_que_cambia %}

    <h1></h1>

    


{% endblock %}

