{% extends "Inmo_Coder_App/padre.html" %}

{% load static %}

{% block titulo_de_pagina %}

    <h1 class="mb-5">Registro de Usuarios</h1>
 

{% endblock %}

{% block contenido_que_cambia %}


    {% if mensaje %}
   
        <h8>{{ mensaje }}</h8>
        <br>
   
    {% else %}
        
            
        <form action="" method="POST">
            {% csrf_token %}
            <br>

            {{form.as_p}}

            <button type="submit">Registrar</button>

        </form>

   {% endif %}

{% endblock %}

