{% extends "Inmo_Coder_App/padre.html" %}


{% load static %}

{% block usuariologged %} 
    {% if request.user.is_authenticated %}
    <form action="{% url 'AppMSN:mensajes' %}" method="POST" > {% csrf_token %}
        Hola {{ user.username }}  <img src='{{ imagen }}' alt ="avatar" width="35px" hight="35px">
        <button type="submit" class="button-solid"> <img src='{{ chat }}' alt ="mensajes" width="35px" hight="35px"></button>
    </form>
       
    {% endif %}

{% endblock %}


{% block titulo_de_pagina %}

    <h1 class="mb-5">INMO. CODER<br>MENSAJES</h1>

    
{% endblock %}



{% block contenido_que_cambia %}

<br>

{% if mensaje %}
    <div class="abs-center">
        <h3> {{ mensaje }}</h3>
    </div>
{% else %}


<div class="container">
    <div class="abs-center">
        <table>
            <tbody>
                <tr>
                    <th class="clases_para_th_td">Emisor</th>
                    <th class="clases_para_th_td">Mensaje</th>
                    <th class="clases_para_th_td">Desea borrar?</th> 
                    <th class="clases_para_th_td">Desea responderle?</th>    
                </tr> 
                
                {% for mensaje in lista_mensajes %}    
                <tr>
                    <td class="clases_para_th_td">{{ mensaje.usuarioA }}</td>
                    <td class="clases_para_th_td">{{ mensaje.mensaje }}</td>   
                    <td class="clases_para_th_td">
                        <form action="{% url 'AppMSN:mensaje_eliminar' mensaje.id %}" method="POST"> {% csrf_token %}
                            <div class="abs-center">
                                <input type="submit" value="Si" class="btn btn-warning btn-sm">  
                            </div>
                        </form>                 
                    </td>     
                    <td class="clases_para_th_td">
                        <form action="{% url 'AppMSN:mensaje_responder' mensaje.id %}" method="GET"> {% csrf_token %}
                            <div class="abs-center">
                                <input type="submit" value="Si" class="btn btn-primary btn-sm">  
                            </div>
                        </form>                 
                    </td>             
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<br>
{% endif %}    
{% endblock %}

