.clases_para_th_td {
    border: 1px solid; 
    border-color: rgb(222, 226, 230);
    border-collapse: collapse;
    text-align:center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
